/_build
/*~
/ebin
/doc/*.html
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/.eunit
/*.beam
/*.S
/*.erlx
/rebar.lock
/rebar3.crashdump
/util/rebar3
/pages/out
/public
/pages/.org-mode
/pages/org-latest.tar.gz
